@import url(https://use.fontawesome.com/releases/v5.7.0/css/all.css);.my-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.manager a {
  display: inline-block;
  background-color: #222d32;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin: 20px;
  text-align: center;
  color: #3c8dbc;
  padding-top: 30px;
}

.manager a i {
  display: block;
  font-size: 20px;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000047;
  width: 100%;
  z-index: 9999;
  height: 100%;
}

#loading .lds-hourglass {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}

#loading .lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-hourglass 1.2s infinite;
          animation: lds-hourglass 1.2s infinite;
}

@-webkit-keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

@keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

