$white: #fff;
$black: #000;
$enable-grid-classes:true;
$primary: $black;
$secondary:#303030;
$success:#015668;
$danger:#c00000;
$info:#0F81C7;
$warning:#0DE2EA;
$light:#09606F;
$navbar-light-color:$white;
$navbar-light-hover-color:#f8f9fa;
$navbar-light-disabled-color:#e9ecef;
$card-cap-color:$white;
$dark:#000000;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.25rem;