@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');
@import url('../bootstrap-datetimepicker/css/bootstrap-datetimepicker.css');

* {
	border-radius: 0 !important;
}

.modal-title{
	float: left;
}

.logo-lg{
	img{
	    max-width: 100%;
	    max-height: 45px;
	}
}
.logo-mini{
	img{
	    max-width: 45px;
	    max-height: 45px;
	}
}

.my-content-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;
}

.manager{
	a{
		display: inline-block;
		background-color: #222d32;
		width: 100px;
		height: 100px;
		vertical-align: middle;
		margin: 20px;
		text-align: center;
		color: #3c8dbc;
		padding-top: 30px;
		i{
			display: block;
			font-size: 20px;
		}
		&:hover{
			color: white;
		}
	}
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000047;
    width: 100%;
    z-index: 9999;
    height: 100%;
	.lds-hourglass {
      	display: inline-block;
	    position: absolute;
	    width: 64px;
	    height: 64px;
	    transform: translateX(-50%) translateY(-50%);
	    left: 50%;
	    top: 50%;
	  	&:after {
			content: " ";
			display: block;
			border-radius: 50%;
			width: 0;
			height: 0;
			margin: 6px;
			box-sizing: border-box;
			border: 26px solid #fff;
			border-color: #fff transparent #fff transparent;
			animation: lds-hourglass 1.2s infinite;
		}
	}
	@keyframes lds-hourglass {
	  0% {
	    transform: rotate(0);
	    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	  }
	  50% {
	    transform: rotate(900deg);
	    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  }
	  100% {
	    transform: rotate(1800deg);
	  }
	}
}

.modal-backdrop {
	background-color: #00000026;
}