@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~startbootstrap-simple-sidebar/css/simple-sidebar';

body{
  padding-top: 56px;
}
.card{
  margin-top: 100px;
}

#sidebar-wrapper{
  min-height: calc(100vh - 56px);
}