@import 'bootstrap.css';
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');
@import '~startbootstrap-simple-sidebar/css/simple-sidebar';

body{
  padding-top: 66px;
}
.card{
  margin-top: 10px;
}

#sidebar-wrapper{
  min-height: calc(100vh - 66px);
}

.navbar-brand{
  img{
    height: 40px;
  }
}

.list-group-item {
  padding: 0.25rem 0.25rem;
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000047;
    width: 100%;
    z-index: 9999;
    height: 100%;
	.lds-hourglass {
      	display: inline-block;
	    position: absolute;
	    width: 64px;
	    height: 64px;
	    transform: translateX(-50%) translateY(-50%);
	    left: 50%;
	    top: 50%;
	  	&:after {
			content: " ";
			display: block;
			border-radius: 50%;
			width: 0;
			height: 0;
			margin: 6px;
			box-sizing: border-box;
			border: 26px solid #fff;
			border-color: #fff transparent #fff transparent;
			animation: lds-hourglass 1.2s infinite;
		}
	}
	@keyframes lds-hourglass {
	  0% {
	    transform: rotate(0);
	    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	  }
	  50% {
	    transform: rotate(900deg);
	    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  }
	  100% {
	    transform: rotate(1800deg);
	  }
	}
}